[edit]
    hardlink = false

[data.cpu]

{{- if eq .chezmoi.os "darwin" }}
cores = {{- (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi }}
threads = {{- (output "sysctl" "-n" "hw.logicalcpu_max") | trim | atoi }}
{{- else if eq .chezmoi.os "linux" }}
cores = {{- (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi }}
threads = {{- (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi }}
{{- else if eq .chezmoi.os "windows" }}
cores = {{- (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi }}
threads = {{- (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi }}
{{- end }}

[data]

{{- $displayServer := .chezmoi.os }}
{{- if eq .chezmoi.os "linux" }}
{{-   $displayServer = (output "sh" "-c" "echo $XDG_SESSION_TYPE") | trim }}
{{- end }}
displayServer = "{{ $displayServer }}"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-keeper-commander.sh"